<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  @if (!string.IsNullOrEmpty(Model.BlogConfig.Description))
  {
    <meta name="description" content="@Model.BlogConfig.Description" />
  }

  <title>@Model.BlogConfig.Title</title>
  <link rel="stylesheet" href="/styles/dark.css" />
  <link rel="stylesheet" href="/styles/app.css" />
  <style>
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .theme-icon {
      font-size: 1.75em;
      position: absolute;
      left: -15px;
      top: -15px;
      cursor: pointer;
    }
  </style>

  <script>
    function setTheme(newTheme) {
      document.documentElement.setAttribute('theme', newTheme)
    }

    function setPreferredTheme(newTheme) {
      setTheme(newTheme);
      try {
        localStorage.setItem('theme', newTheme);
      } catch (err) { }
    }

    !(function () {
      var preferredTheme;
      try {
        preferredTheme = localStorage.getItem('theme');
      } catch (err) { }

      setPreferredTheme(preferredTheme || 'light')
    })();
  </script>

</head>

<body>
  <header class="container" style="margin-top: 5.6rem; margin-bottom: 4rem">
    <p style="position: relative;">
      <img src="/avatar.jpg" alt="avatar" height="100" style="display: block;" />
      <span class="theme-icon" id="dark-theme-icon" style="display: none;">🌛</span>
      <span class="theme-icon" id="light-theme-icon" style="display: none;">🌞</span>
    </p>
    <h1 class="text-black text-uppercase" style="margin: 1.75rem 0 1.75rem 0">
      @Model.BlogConfig.Title
    </h1>
    <div class="text-light">
      @for (var i = 0; i < Model.BlogConfig.Links.Length; i++)
      {
        var link = Model.BlogConfig.Links[i];
        if (i > 0)
        {
          <span style="vertical-align: middle;font-weight: 600;">•</span>
        }
        <a class="underline" href="@link.Url">@link.Title</a>
      }
    </div>
  </header>
  <main class="container">
    <ul style="border-top: 1px solid rgba(209,213,219,0.8); padding-top: 3rem">
      @foreach (var item in Model.Posts)
      {
        <li style="margin-top: 0.5rem; margin-bottom: 1.5rem">
          <div style="margin-bottom: 5px">
            <a class="text-black hover-red" style="font-size: 1.25rem; margin-bottom: 5px"
            href="@item.Pathname">@item.Title</a>
          </div>
          <div class="text-light">
            <span>@item.CreateTime.ToString("MMM d, yyyy")</span>
            •
            <span>@item.TimeToRead</span>
          </div>
        </li>
      }
    </ul>
  </main>
  <footer class="container text-light text-sm" style="padding-bottom: 4rem; padding-top: 3rem">
    <a class="underline" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
    2017-PRESENT © @Model.BlogConfig.Author
  </footer>
</body>

<script>
  !(function () {
    var preferredTheme;
    try {
      preferredTheme = localStorage.getItem('theme');
    } catch (err) { }

    var darkIconEl = document.querySelector('#dark-theme-icon');
    var lightIconEl = document.querySelector('#light-theme-icon');

    function toggleDisplay(theme) {
      darkIconEl.style.display = theme === 'dark' ? 'unset' : 'none'
      lightIconEl.style.display = theme === 'light' ? 'unset' : 'none'
    }

    toggleDisplay(preferredTheme)

    function toggleTheme(e) {
      var newTheme = e.target.id === 'light-theme-icon' ? 'dark' : 'light'
      toggleDisplay(newTheme)
      setPreferredTheme(newTheme)
    }

    darkIconEl.addEventListener('click', toggleTheme)
    lightIconEl.addEventListener('click', toggleTheme)
  })()
</script>

</html>
