@using MyBlog;

<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  @if (!string.IsNullOrEmpty(Model.BlogConfig.Description))
  {
        <meta name="description" content="@Model.BlogConfig.Description" />
  }

  <title>@Model.BlogConfig.Title</title>
  <link rel="stylesheet" href="/styles/app.css" />
  <style>
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <header class="container" style="margin-top: 5.6rem;" >
    <p>
      <img src="/avatar.jpg" alt="avatar" height="100" style="display: block;" />
    </p>
    <h1 class="text-uppercase" style="margin: 1.75rem 0 1.75rem 0">
      @Model.BlogConfig.Title
    </h1>
    <div class="text-light">
      <a class="underline" href="/tips">tips</a>
      •
      <a class="underline" target="_blank" href="https://slides.tatwd.me">slides</a>
      •
      <a class="underline" target="_blank" href="https://github.com/tatwd">github</a>
      •
      <a class="underline" href="mailto:@Model.BlogConfig.Email">mail</a>
      •
      <a class="underline" target="_blank" href="/atom.xml">rss</a>
    </div>
  </header>
  <main class="container" style="padding-top: 2.5rem">
    <ul>
      @foreach (var item in Model.Posts)
      {
            <li style="margin-top: 0.5rem; margin-bottom: 1.5rem">
              <div style="margin-bottom: 5px">
                <a class="text-uppercase text-black hover-red" style="font-size: 1.25rem; margin-bottom: 5px"
            href="@item.PostRoute">@item.PostTitle</a>
              </div>
              <div class="text-light">
                <span>@item.FrontMatter.CreateTime.ToString("MMM d, yyyy")</span>
                •
                <span>@Util.FormatReadingTime(item.TimeToRead)</span>
              </div>
            </li>
      }
    </ul>
  </main>
  <footer class="container text-light text-sm" style="padding-bottom: 2.5rem; padding-top: 2rem">
    <a class="underline" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
    2017-PRESENT © @Model.BlogConfig.Author
  </footer>
</body>

</html>
