@using MyBlog;

<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  @if (!string.IsNullOrEmpty(Model.AbstractText))
  {
    <meta name="description" content="@Model.AbstractText" />
  }

  <title>@Model.PostTitle</title>
  <link rel="stylesheet" href="/styles/app.css" />
  <link rel="stylesheet" href="/styles/post.css" />
  @* <link rel="stylesheet" href="/styles/prism.css" /> *@
</head>

<body>
  <header class="container">
    <div style="margin-top: 1.25rem">
      <a class="font-mono underline" href="/">cd ..</a>
    </div>
    <h1 class="font-sans">@Model.PostTitle</h1>
    <small class="text-light">
      <span>@Model.FrontMatter.CreateTime.ToString("MMM d, yyyy")</span>
      •
      <span>@Util.FormatReadingTime(Model.TimeToRead)</span>
      @foreach (var tag in Model.FrontMatter.Tags)
      {
        <a class="hover-underline" href="/tags/@Util.ReplaceWithspaceByLodash(tag)/">#@tag</a>
      }
    </small>
  </header>
  <main class="container" style="padding-top: 1.75rem;">
    <article>@Model.PostContent</article>
  </main>
  <footer class="container text-light" style="padding-bottom: 2.5rem;padding-top: 2rem;">
    <a class="underline" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
    2017-PRESENT © @Model.BlogConfig.Author
  </footer>
</body>

</html>
