@using System.Globalization;
@using MyBlog;

<!DOCTYPE html>
<html lang="@Model.PageData.Lang">

<head>

  <title>@Model.PageData.Title</title>
  @if (!string.IsNullOrEmpty(Model.PageData.AbstractText))
  {
    <meta name="description" content="@Model.PageData.AbstractText" />
  }

  @Include("_head", Model)

  <link rel="stylesheet" href="/styles/post.css?v=@Model.BlogConfig.Version" />
  <link rel="stylesheet" href="/styles/prism.css?v=@Model.BlogConfig.Version" />
</head>

<body>
  <header class="container">
    <div style="margin-top: 1.25rem">
      <a class="font-mono underline" href="/">cd ..</a>
    </div>
    <h1 class="font-sans text-black">@Model.PageData.Title</h1>
    <small class="text-light">
      <span>@Model.PageData.CreateTime.ToString("MMM d, yyyy", new CultureInfo("en-US"))</span>
      •
      <span>@Model.PageData.TimeToRead</span>
      @foreach (var tag in Model.PageData.Tags)
      {
        <a class="hover-underline" href="/tags/@Util.ReplaceWhiteSpaceByLodash(tag)/">#@tag</a>
      }
    </small>
  </header>
  <main class="container" style="padding-top: 1.75rem;">
    <article>@Model.PageData.HtmlContent</article>
  </main>

  @Include("_footer", Model)

  @if (Model.PageData.HtmlContent.IndexOf("class=\"mermaid\"") > -1)
  {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.6.0/mermaid.min.js"></script>
    <script>mermaid.initialize({ startOnLoad: true });</script>
  }
</body>

</html>
