@{
  var enabledToc = Model.PageData.FrontMatter.EnabledToc;
}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>@Model.PageData.Title</title>

  @Include("_head", Model)

  <link rel="stylesheet" href="/styles/post.css?v=@Model.BlogConfig.Version" />
  <link rel="stylesheet" href="/styles/prism.css?v=@Model.BlogConfig.Version" />
</head>

<body>
  <header class="container">
    <div style="margin-top: 1.25rem">
      <a class="font-mono underline" href="/">cd ..</a>
    </div>
    <h1 class="font-sans text-black">@Model.PageData.Title</h1>
  </header>
  <main class="container" style="padding-top: 1.75rem;">
    @if (enabledToc)
    {
      <div id="toc"></div>
    }
    <article>@Model.PageData.HtmlContent</article>
  </main>

  @Include("_footer", Model)

  @if (enabledToc)
  {
    <script src="/scripts/toc.js"></script>
  }
</body>

</html>
